/* Style for spoken text */
.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

/* Style for directions */
.direction {
    font-family: 'Times New Roman', serif;
    font-size: 14px;
    color: black;
    background-color: lightgray;
}

/* Hover effect for directions */
.direction:hover {
    background-color: lightblue;
    color: white;
}

/* Style for character names */


/* Define styles for individual characters */
.TESMAN {
    color: blue;
}

.HEDDA {
    color: green;
}

/* Style for the character table */
table {

    width: 100%;

    border-collapse: collapse;

    margin: 10px; /* This removes spacing between table cells */

  }

 

  /* Style for table headers */

  th {

    background-color: rgb(178, 176, 242);

    color: white;

    text-align: left;

    padding: 5px;

    border: 1px solid red;

  }

  td {

    background-color: rgb(25, 209, 226);

    color: white;

    text-align: left;

    padding: 5px;

    border: 1px solid black;

  }

  /* Style for table rows */

  tr {

    background-color: greenyellow;

  }
  /* Hover effect for character names */

    .TESMAN:hover {
        text-shadow: 2px 2px 8px rgba(149, 0, 255, 0.459); /* Customize shadow properties */
        
    }
    .HEDDA:hover {
        text-shadow: 2px 2px 8px rgba(0, 208, 255, 0.7); /* Customize shadow properties */
        
        
    }
    /* Style for the navbar */
    .navbar {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    /* Style for navbar links */
    .navbar a {
        text-decoration: none;
        color: white;
        margin: 0 10px;
    }




