/* Style for spoken text */
.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

/* Style for directions */
.direction {
    font-family: 'Times New Roman', serif;
    font-size: 14px;
    color: black;
    background-color: lightgray;
}

/* Hover effect for directions */
.direction:hover {
    background-color: lightblue;
    color: white;
}

/* Style for character names */


/* Define styles for individual characters */
.TESMAN {
    color: blue;
}

.HEDDA {
    color: green;
}

/* Style for the character table */
.character-table {

    border-collapse: collapse;

    width: 100%;

    margin: 20px;

}

 

.character-table th, .character-table td {

    border: 1px solid #873939;

    padding: 8px;

    text-align: left;

}

 

.character-table th {

    background-color: yellowgreen;

}

 

.character-table tr:nth-child(even) {

    background-color: wheat;  

}

.character-table tr:nth-child(odd) {

    background-color: lightskyblue;  

}

 

.character-table tr:hover {

    background-color: lightcoral;

}

 
  /* Hover effect for character names */

        /* Hover effect for character names */
    .name:hover {
        text-shadow: 2px 2px 4px rgba(0, 225, 255, 0.7); /* Customize shadow properties */
        border: 2px solid #1aff00; /* Customize border properties */
        color: #FF0000; /* Customize text color */
    }
    /* Hover effect for character names */
    .TESMAN:hover {
        text-shadow: 2px 2px 4px rgba(35, 28, 137, 0.7); /* Customize shadow properties */
        border: 2px solid #09ff00; /* Customize border properties */
        color: #FF0000; /* Customize text color */
    }
    .HEDDA:hover {
        text-shadow: 2px 2px 4px rgba(0, 187, 255, 0.7); /* Customize shadow properties */
        border: 2px solid #00ff33; /* Customize border properties */
        color: #FF0000; /* Customize text color */
    }
    


    /* Style for the navbar */
    .navbar {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    /* Style for navbar links */
    .navbar a {
        text-decoration: none;
        color: white;
        margin: 0 10px;
    }




